body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/src/assets/images/bg.jpg");
}

.app {
  text-align: center;
  padding: 20px;
}

header {
  background-color: darkslategrey;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2rem;
}

label {
  font-size: 1rem;
  margin: 0.5rem;
}

.employees-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.employee-card {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.employee-card:hover {
  transform: scale(1.05);
  filter: drop-shadow(8px 8px 10px gray);
}

.employee-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.employee-card h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.employee-card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 5px;
}

.employee-details {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
}

.employee-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.employee-details img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.employee-details p {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.employee-details button {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.show-match-popup {
  display: block;
}

input[type="number"] {
  width: 4rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #45a049;
}
